/*------------------------------------*\
=    TABLE OF CONTENTS                 =
\*------------------------------------*/

/**
*
* FOUNDATIONS................................................
* BASE.......................................................
*
*/

/*=============================================
=                   Foundations              =
=============================================*/

@use '../../scss/src/foundation/all' as *;

/*=====  End of Foundations   ======*/

/*==============================================
=                   Base                       =
==============================================*/

@use '../../scss/src/base/root' as *;
@use '../../scss/src/base/reset' as *;


/*=====  End of Base  ======*/

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
}
